.canvas {
  border: 1px solid #dcdcdc;
  box-shadow: 0 0 0 1rem #f5f5f5;
}

.canvas-drop-zone {
  background: #f3f6fb;
  outline: 2px dashed #abc7e5;
  height: 50px;
}

.canvas-drop-zone.is-drop-target {
  background: #88b0da;
}
